Repository nihalgonsalves/nihalgonsalves.com: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint, oxfmt

oxlint:
  run: node --run lint -- {staged_files}
  stage_fixed: true

oxfmt:
  run: node --run format -- --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true

chore: remove google fonts
  package.json
  pnpm-lock.yaml
  src/pages/_root.tsx
  src/styles.css
Due: oxlint, oxfmt

fix: add CSP for Cloudflare privacy-first analytics
  src/pages/_root.tsx
Due: oxlint, oxfmt

security: pin GitHub Actions
  .github/dependabot.yml
  .github/workflows/build.yml
Due: none

chore: upgrade all
  package.json
  pnpm-lock.yaml
Due: oxfmt

chore(deps): pnpm@v11
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: oxfmt

perf: add assets cache control
  public/_headers
Due: none

chore(deps): bump waku from 1.0.0-alpha.10 to 1.0.0-rc.1
  package.json
  pnpm-lock.yaml
  src/pages.gen.ts
  src/waku.server.ts
Due: oxlint, oxfmt

Path conditions:
  oxlint: any of: *.{js,ts,jsx,tsx}
  oxfmt: any of: *.{js,ts,jsx,tsx,html,css,json,yaml,md}
